<div class="group rounded-lg">
  <a
    [routerLink]="['/product', product.slug]"
    class="w-full overflow-hidden rounded-t-lg bg-gray-200"
  >
    <div class="relative h-80">
      <img
        [ngSrc]="product.images[0]"
        [alt]="product.title"
        class="w-full object-cover object-center group-hover:opacity-75"
        [fill]="true"
        loading="lazy"
      />
    </div>
  </a>
  <div class="flex flex-col space-y-2 p-4">
    <h3 class="text-sm text-gray-700 hover:cursor-pointer" [routerLink]="['product/', product.id]">
      {{ product.title | uppercase }}
    </h3>
    <p class="text-lg font-medium text-gray-900">{{ product.price | currency: '€' }}</p>
    <p class="text-sm text-gray-700" [title]="product.creationAt">
      {{ product.creationAt | timeAgo }}
    </p>
    <button
      class="text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full hover:bg-gray-300 hover:cursor-pointer"
      (click)="addToCartHandler()"
    >
      Add to cart
    </button>
  </div>
</div>
