<div class="flex space-x-4">
  <div class="w-50 max-h-[calc(100dvh-4rem)] flex flex-col overflow-y-auto sticky top-16">
    <button
      [routerLink]="['/']"
      class="p-1 m-1 bg-blue-600 text-white hover:bg-blue-800 cursor-pointer"
    >
      All
    </button>
    @for (category of categories(); track category) {
      <button
        [routerLink]="['/category', category.slug]"
        class="p-1 m-1 bg-blue-600 text-white hover:bg-blue-800 cursor-pointer"
        (click)="switchCurrentCategory(category.id)"
      >
        {{ category.name }}
      </button>
    }
  </div>
  @if (filteredProducts().length > 0) {
    <div class="w-full grid grid-cols-4 gap-8">
      @for (product of filteredProducts(); track product) {
        <app-product [product]="product"> </app-product>
      }
    </div>
  } @else {
    <div class="min-h-[calc(100dvh-4rem)] w-full flex items-center justify-center">
      <p class="text-center text-gray-500">No products available</p>
    </div>
  }
</div>
